{
	"extends": ["plugin:@wordpress/eslint-plugin/recommended"],
	"settings": {
		"react": {
			"version": "999.999.999",
		},
	},
	"globals": {
		"jQuery": "readonly",
		"$": "readonly",
	},
	"rules": {
		"no-console": "warn",
	},
}
