.DS_Store
Thumbs.db
.cache
.project
.settings

.svn
.CVS
cache
.parcel-cache/
.sass-cache/
*.sass-cache
.phpunit.result.cache
.phpunit.cache/
tests/.phpunit.cache/
.dex

vendor/
node_modules/
npm-debug.log

.vscode/*
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
