{
	"extends": [
		"@rocketsarenostalgic/quality-config/stylelint/wordpress-scss"
	],
	"ignoreFiles": [
		"**/*.md",
		"README.md",
		"node_modules/**/*",
		"vendor/**/*",
		"assets/src/**/vendor/**/*",
		"assets/src/admin/js/vendor/**/*",
		"assets/src/public/js/vendor/**/*",
		"assets/src/admin/styles/vendor/**/*",
		"assets/src/public/styles/vendor/**/*",
		"*.xml"
	],
	"rules": {
		"selector-class-pattern": null
	}
}
