{
	"extends": [
		"@wordpress/stylelint-config/scss",
		"stylelint-config-rational-order"
	],
	"plugins": [
		"stylelint-use-logical-spec",
		"stylelint-no-unsupported-browser-features",
		"stylelint-high-performance-animation"
	],
	"ignoreFiles": [
		"**/*.md",
		"README.md",
		"node_modules/**/*",
		"vendor/**/*",
		"assets/src/**/vendor/**/*",
		"assets/src/admin/js/vendor/**/*",
		"assets/src/public/js/vendor/**/*",
		"assets/src/admin/styles/vendor/**/*",
		"assets/src/public/styles/vendor/**/*",
		"*.xml"
	],
	"rules": {
		"selector-class-pattern": null,
		"rule-empty-line-before": [
			"always-multi-line",
			{
				"except": ["after-single-line-comment", "first-nested"]
			}
		],
		"liberty/use-logical-spec": "always",
		"plugin/no-low-performance-animation-properties": [
			true,
			{
				"severity": "warning"
			}
		],
		"plugin/no-unsupported-browser-features": [
			true,
			{
				"severity": "warning"
			}
		]
	}
}
